

.container5
{
	width: 100%;
	height: 100%;
	#background-color: red;
	position: absolute;
	overflow: hidden;

}
.bird
{
position: relative;
width: 100px;
left: 100%;
animation: fly 100s infinite;
}
@keyframes fly
{
	0%{right:-20%; top:5px;}
	25%{top:150px;}
	50%{top:30px;}
	75%{top:25px;}
	100%{left: -100%; top: 105px;}
}